body {
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}
fieldset{
    border: 0;
}
.container  {
    max-width: 900px;
    min-width: 30em;
    font-size: 1.2em;
    text-align: center;
    background-color: hsla(213, 50%, 70%, 0.4);
    color: rgba(255, 255, 255, 1.0);
    width: 70%;
    height: 100%;
    margin: auto;
    border: 3px solid ;
    border-color: #36aafc #faabef #36aafc; 
}

.first-field {
    height: 10em;
    margin: auto;
    padding: 30px 20px 20px 20px;
    /* border-color: #36aafc #faabef #36aafc ; */
}
.first-field input{
    display: block;
    margin: auto;
    height: 2em;
    width: 30em;
    /* border-color: #36aafc #faabef #36aafc ; */
}
.first-field label{
    margin: auto;
    display: block;
    height: 33%;
} 
.checkbox-options label{
    padding: 10px 10px 10px 10px;
    margin: auto;
    display: block;

}
/* for the dropdown menu */
.select-options{
    padding-top: 20px;
    margin: auto;
    height: 4.5em;
    border-color: #36aafc #faabef #36aafc ;
}
.select-options select {
    width: 15em;
    height: 2em;
    border-color: #36aafc #faabef #36aafc ; 
}
.radio-options{
    padding: 20px 50px 20px 60px;
    border-color: #36aafc #faabef #36aafc ;

}
input[name="radio-button"]{
    display: inline;
}

.checkbox-options {
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: #36aafc #faabef #36aafc ;
}
.checkbox-options label{
    display: inline;
}


input[type="checkbox"] {
    padding-top: 20px;
}

textarea{
    display: block ;
    margin: 15px auto ;
    width: 20em;
    height: 5em;
    border-color: #36aafc #faabef #36aafc ;
}

#submit{
    border: 2px solid  ;
    border-color: #36aafc #faabef #36aafc ;
    background-color: #36aafc ;
    width: 5em;
    height: 2em;
    display: inline-block;
    
}